.lora-<uniquifier > {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.vid_back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  height: 100%;
  z-index: -1;
}

img {
  position: static;
  width: 100%;
  max-width: 360px;
  height: auto;
  margin: 15px;
}

.container {
  max-width: 400px;
  height: auto;
  position: relative;
  z-index: 1;
  background: transparent;
  color: rgba(6, 0, 0, 0.77);
  backdrop-filter: blur(10px);
  padding: 20px;
  border: 1px solid gray;
  border-radius: 20px;
  box-shadow: -1px 1px 11px 6px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: -1px 1px 11px 6px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: -1px 1px 11px 6px rgba(0, 0, 0, 0.64);
}

.container h1 {
  text-align: center;
  font-weight: bolder;
  text-shadow: -3px 1px 2px rgba(255, 255, 255, 0.39);
}

label {
  display: block;
  margin: 5px;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: rgb(39, 216, 45);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: block;
  margin: 13px auto;
}

button:hover {
  background-color: rgba(4, 111, 9, 0.84);
}

footer {
  color: rgb(255, 255, 255);
  font-family: Gill Sans;
  padding-bottom: 5px;
  text-align: center;
  width: 100%;
}

.index_footer {
  bottom: 0;
}
